*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: sans-serif;
  background: skyblue;
}

h1, h2, a{
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  color: inherit;
}

.screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* background: forestgreen; */
  border: 1px solid red;
  animation: fade 5s ease forwards;

}

/* .divider{
  border: 0.5px dotted blue;
  padding: 20px;
  display: flex;
} */

.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 50vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 99999;
}

/* .menu > div{
  border-radius: 2px;
  padding: 5px 10px;
  margin-bottom: 15px;
  transition: all 0.5s ease;
  background: white;
} */

.button{
  background: white;
  border: 2px solid black;
  border-radius: 1px;
  padding: 3px 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 rgba(0,0,0,0.5);
  transform: translate(5px, 5px);
  font-size: 1.5em;
  transition: 0.5s ease;

}

.button:hover{
  transform: translate(0, 0);
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}


.active{
  transition: 1s ease;
  background: yellow;
  transform: translate(0, 0);
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}

.logo{
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  /* opacity: 0.5; */
  transform: scale(0.8);
  /* transition: 0.2s ease; */
  font-size: 2.4rem;
  z-index: 9999;
}

.eyes{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.eye{
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-radius: 50%;
  margin: 2px;
  position: relative;
  overflow: hidden;
  background: white;
}

.eyeball{
  width: 70%;
  height: 70%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.hidden{
  width: 0.001%;
  opacity: 0;
  transition: all 1s ease;
}

.logo:hover .hidden{
  width: 100%;
  opacity: 1;
  /* overflow: visible; */
}

.about {
  position: fixed;
  top: 0;
  left: 0;
  padding: 27px;
  width: 50vw;
  height: 50vh;
  font-size: 1.8rem;
  line-height: 1.25;
  /* transform: scale(0.8); */
  transform-origin: top left;
}
