*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, sans-serif;
}

h1, h2, h3, a, p{
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  color: inherit;
}

.screen{
  background: forestgreen;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.paragraph{
  width: 70%;
  display: inline-flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: baseline;
  line-height: 1.35;
  font-size: 32px;
  animation: fadeIn 2s ease;
}

@keyframes fadeIn{
  from{opacity:0}to{opacity:1}
}


.nav{
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  z-index: 9999;
  padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
  transform-origin: top left;
  z-index: 9999;
}

.eyes{
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.eye{
  width: 26px;
  height: 26px;
  border: 2.5px solid black;
  border-radius: 50%;
  margin: 1px;
  position: relative;
  overflow: hidden;
  background: white;
  transition: transform 30s ease;
}

.eyeball{
  width: 70%;
  height: 70%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.logo:hover .eyeball{
  border: 5px dotted magenta;
}

.dropbtn {
  background: transparent;
  color: black;
  font-size: 32px;
  border: 2px solid black;
  cursor: pointer;
}

button {padding:0 5px}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: yellow;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 400px;
  border: 2px solid;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: skyblue; color: yellow}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.backbtnwrap{
  display: flex;
  justify-content: flex-end;

}
.backbtn{
  /* position: fixed;
  right: 20px;
  bottom: 20px; */
  background: transparent;
  color: black;
  font-size: 4rem;
  border: none;
  cursor: pointer;
}

.backbtn:hover{color:yellow}

.mobile {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.row{
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom:0;
}

@media screen and (max-width: 800px){
  .paragraph{width:100%;}
  .dropbtn, .paragraph{font-size: 24px}
  .dropbtn{background:pink}
  .eye{width:20px;height:20px;border:2.4px solid black;}
}
