*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: sans-serif;
}

h1, h2, a{
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  color: inherit;
}

.screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  background: forestgreen;
  border: 1px solid red;
}

.divider{
  border: 0.5px dotted blue;
  padding: 20px;
  display: flex;
}

.menu{
  width: 700px;
  position: absolute;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.5em;
  z-index: 999;
}

.menu > div{
  border-radius: 2px;
  padding: 5px 10px;
  margin-bottom: 15px;
  transition: all 0.5s ease;
  background: white;
}

.active{
  /* border: 2px solid black; */
  color: rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.inactive{
  transform: translate(5px, 5px);
  /* background: rgba(255, 255, 255, 0); */
  /* border: 1px dotted rgba(0, 0, 0, 0.5); */
  color: rgba(0, 0, 0, 0.5);
}

.inactive:hover{
  transform: translate(0, 0);
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  border: 2px solid black;
  color: blue;
}

.content > img{
  width: 100%;
}

.thumb-wrap{
  display: flex;
}

.thumb-wrap > img{
  width: 50%;
}

.thumb{
  width: 50%;
  overflow: hidden;
}
