*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: #323232;
}

body{
  margin: 0;
  background: whitesmoke;
  overflow-x: hidden;
}

.stopscroll{overflow-y:hidden}

h1, h2, h3, a, p, i, em{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

h1{
  font-variant: small-caps;
  font-size: 14px;
  /* font-size: calc(12px + 4 * (100vw - 480px) / 760); */
  line-height: 1.5;
}

h2{
  font-size:18px;
}

h3{
  /* font-size:60px; */
  font-size: calc(18px + 24 * (100vw - 480px) / 760);
  font-family:proxima-soft,sans-serif;
  color:darkgray;
  line-height:1.1;
  animation: fadeIn 1s ease;
}

p{
  font-size: 22px;
  line-height:1.3;
}

em, .first a, .headline a{
  font-family:proxima-soft, sans-serif;
}

a{cursor:pointer;transition:color 0.2s ease;}
a:hover{color:blue}

.indexbar{
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  bottom:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.indexbar p{font-size:20px;transition:color 0.5s ease}
a:hover .indexbar p{color:blue}

.thumb{
  width:100%;
  overflow:hidden;
  display:flex;align-items:center;justify-content: center;
  /* box-shadow:0px 1px 5px rgba(0,0,0,0.15) */
}

.thumb img{
}

.titleimg{animation:fadeIn 1.5s ease}
@keyframes fadeIn{
  from {opacity:0} to {opacity:1}
}

.titlebar{
  width: 50%;
  padding: 10px 20px;
  font-size: 18px;
  position:absolute;
  bottom:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
  /* border-top-right-radius: 25px; */
}

.titlebar p{text-transform:uppercase;letter-spacing:0.5px;font-size:20px}
.titlebar a, .processbar a, .navbar a, .list a{
  color:darkgray;
  transition:color 0.2s ease;
}
.titlebar a:hover, .processbar a:hover, .navbar a:hover, .list a:hover{
  color:blue;
}
.titlebar .nav{
  display:flex;justify-content:flex-end
}
.titlebar .nav a{
  margin-left:20px;
}

.navbar{
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 9999; */
  /* transition: 1s ease; */
  background: whitesmoke;
}

.navbar .nav{
  display:flex;
  justify-content: flex-start;
}
.navbar .nav a{
  margin-right:20px;
}

.menubar{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  /* transition: 1s ease; */
  background: whitesmoke;
}

.menubar div{
  display:flex;
  justify-content:space-between;
  /* justify-content: flex-end; */
}

.menubar div a{
  text-transform:uppercase;
  letter-spacing: 1px;
  transition:color 0.2s ease;
  color: gray;
}
.menubar div a:hover{
  color:blue;
}

.menubar div a.selected{
  color:blue;
  border-bottom:1px solid blue;
}

.menubar .nav{
  width:280px;
  padding: 10px 20px;
  font-size: 16px;
  display:flex;
  justify-content: space-between;
}

.logo{
  font-size: 24px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  cursor:pointer;
  transition:color 0.2s ease;
  /* transform: scale(1.1) */
}

.logo div{
  font-family: proxima-soft, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: black;
}

.eyes{
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.eye{
  width: 18px;
  height: 18px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 1px;
  position: relative;
  overflow: hidden;
  background: white;
}

.eyeball{
  width: 70%;
  height: 70%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.logo:hover div{
  color:blue;
}
.logo:hover .eye{
  border: 2px solid blue;
}
.logo:hover .eyeball{
  background:blue;
}

.container{
  width:100vw;
  height:100%;
  display: flex;
  padding: 10px 20px;
  /* border:1px solid red; */
}

.image{
  align-items:flex-start
}

.container img, .container div img{
  width:100%;
}

.full{height:99.9vh;margin:0;padding:0;align-items:center;overflow-y:hidden}
.full img{width:100%}
.center, .single{justify-content: center;}
.single img{width:60%}
.column{flex-direction:column}

.half{height:70vh;
  justify-content: flex-end;
  align-items: center;
  margin-bottom:-60px;
}
.half div{
  width:50%;
}

.half .col2{padding-right:80px}


#abouth3{
  margin-bottom:-120px;
}

.proj-nav{
  position:fixed;
  bottom:20px;right:20px;
  font-size:20px;
}

.col1, .col2, .indexitem{
  width:50%;
}
.col1{
  margin-right:20px;
}
.col1 img, .col2 img, .center img, .indexitem img{
  width:100%;
}

.info{
  width:50vw;
  margin:40px 20px;
  /* padding: 10px; */
}

.info p{
  font-size: calc(18px + 4 * (100vw - 480px) / 760);
}

.caption{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  margin:40px 0;
}
.caption div{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
.caption div p{
  width: 50%;
  padding-left:30px;
  padding-right:80px;
  color: dimgray;
  font-size: calc(12px + 4 * (100vw - 480px) / 760);
  line-height: 1.4;
}

.category{
  color: darkgray;
}

@media screen and (min-width:1441px){
  .caption {width:45vw}
}

iframe{
  width:75vw;
  height:100%;
}

.video{
  height:calc(100vh - 80px)
}

#marryme{
  display:flex;align-items:center;
  background:white;
  height:100vh
}

@media screen and (max-width:900px){
  #marryme{
    flex-direction:column;
    height:100%;
    margin-top:40px;
  }
}


.process{
  position:fixed;
  top:0;
  left:-80vw;
  width:80vw;
  height:100vh;
  background:whitesmoke;
  z-index:999;
  overflow-x: hidden;
  transition: 1.25s ease;
}

.processbox{
  width:100%;
  height:calc(100% - 40px);
  padding: 20px;
  overflow-y:auto;
}

.process .container{
  width:100%;
  height:auto;
  padding:0;
  align-items:center;
}
.process p{
  font-size:16px;
  width:100%;
  margin:0;
  margin-top:-10px;
  margin-bottom:20px;
}
.process img{
  width:100%;
  margin-bottom:20px;
  box-shadow:0px 0px 3px rgba(0,0,0,0.1)
}

.processflex{display:flex;align-items:center}

.processbar{
  position:fixed;
  bottom:0;
  left:-80vw;
  width:80vw;
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: whitesmoke;
  z-index:999;
}

.showProcess{transform:translateX(80vw)}


.listmenu{
  position:fixed;
  bottom:0;
  right:-25vw;
  width:25vw;
  height:50vh;
  background: gainsboro;
  /* background: gray; */
  /* background: forestgreen; */
  z-index:2;
  overflow-x: hidden;
  padding: 20px;
  transition: 1s ease;
}

.list{
  display:flex;
  flex-flow:column;
  /* margin-top:20px; */
  font-size:18px;
}

.list a{
  margin-bottom:20px;
  /* color:pink; */
  color:gray;
  /* color:whitesmoke; */
}

.listmenu .nav{
  position:absolute;
  bottom:10px;right:20px;
  width:100%;
  display:flex;
  justify-content: flex-end;
  font-size:18px;
  color:gray;
}

.showList{
  transform: translateX(-25vw);
}

#teleport{
  transform: translateY(-80px);
  opacity:0;
}

.index{
  flex-flow: row wrap;
  padding-right:0;
}

.indexitem{
  padding-right:20px;
  margin-bottom:40px;
  opacity:0.3;
  transition:0.2s ease;
  /* display:none; */
}

.indexitem:hover{
  opacity:1;
}

.overlay{
  position:fixed;
  width:200vw;height:200vh;
  background:rgba(0,0,0,0.5);
  z-index:-1;
  opacity:0;
  transition:1.5s ease;
}

.showOverlay{opacity:1;z-index:99;}

#itsc{
  align-items: flex-end;
}

.overview{
  margin-top:60px;
  padding-left:40px;
}
/* .overview .col1{
  padding-left:20px;
  width:75%
} */
.overview h3{
  width:60%
}

.about{
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  animation: fadeIn 1s ease;
}

.about p{
  line-height:1.35;
  padding-left:40px;
  font-size: calc(18px + 4 * (100vw - 480px) / 760)
}

.about a{
  padding: 0 5px;
  border: 1px solid;
  transition: 0.2s ease;
}

#brainstorm{
  position:absolute;
  bottom:-50px;right:0;
  width:50vw;
}
#float2{
  position:absolute;
  width:50vw;
  bottom:-50px;right:0;
  z-index:-1;
  animation:float 1.5s ease alternate infinite;
}

.extra{
  margin:0;
  margin-top:-10px;
  height:auto;
  margin-bottom:10px;
}
.extra p{
  margin:0;
  padding-left:10px;
  font-size: calc(12px + 4 * (100vw - 480px) / 760);
}
.extra .indexitem{
  display:flex;
  flex-flow:column;
  justify-content: center;
}
.extra .thumb{
  height:auto;
  background:none;
}

.landing{
  height:100vh;
  padding:0;
  /* flex-direction:column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.headline{
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  animation: fadeIn 1s ease;
}

.headline h3, .headline a{
  margin-left:60px;
}

.headline a{
  margin-top:60px;
  border:1px solid;
  line-height:1.5;
  padding:0 10px;
  font-size: calc(20px + 4 * (100vw - 480px) / 760);
  font-family:proxima-soft,sans-serif;
  text-transform:uppercase;
}

.landing-img{
  position:relative;
  width:50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom:-50px;
}

.landing div img{
  width:50vw;
}

#float{
  position: absolute;
  transform:translateY(0);
  z-index:-1;
  animation: float 1.5s ease alternate infinite;
}
@keyframes float{
  from{transform:translateY(0)} to {transform:translateY(20px)}
}

.show{opacity:1}
#filterby span{color:lightgray}
.filter{font-family:proxima-soft,sans-serif;color:lightgray}
.filter.active {color:darkgray}

.mb{display:none}

.menu{
  position:fixed;
  transform:translateY(-100vh);
  z-index:2;
  width:100vw;
  height:100vh;
  background:whitesmoke;
  text-transform: uppercase;
  transition:1s ease;
}

.menu a{
  font-size:10vw;
  font-family:proxima-soft,sans-serif;
  line-height: 1.5;
  color:blue;
}
.showMenu{transform:translateY(0)}

#close{
  color:darkgray;
  font-size:60px;
}
.menu a:hover{color:blue}

@media only screen and (max-device-width:767px){
  .pc, .titlebar{display:none}
  .mb{display:block}

  .menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h3{font-size: calc(40px + 50 * (100vw - 480px) / 760);line-height:1.2;padding-right:80px;}

  p, .indexbar p, .extra p, .caption div p, .navbar, .menubar .nav, .processbar a, .about p
  {font-size: calc(30px + 30 * (100vw - 480px) / 760);}
  .menubar .nav{width:auto}

  .container, #marryme{flex-direction:column}

  .landing{align-items:center;justify-content:flex-start;}

  .col1, .col2{width:100%}
  .col1{margin-bottom:40px}

  .overview .col1{margin-bottom:0}

  .single img{width:100%}

  .indexitem{width:100%;padding-right:0}
  .thumb{height:auto}
  .filter{color:darkgray}
  .filter.active{color:rgba(0,0,255,0.75)}

  .full{height:100%;overflow-x:hidden;padding:0}
  .full img{width:200%}

  .caption div p, .overview h3, .about{width:100%}
  .caption div p {padding-left:20px;padding-right:20px}

  .about{height:100%;padding-top:160px}
  .about p{padding-left:80px;padding-right:80px}

  .process{left:-100vw;width:100vw;}
  .showProcess{transform:translateX(100vw)}

  .listmenu{right:-75vw;width:75vw}
  .showList{transform:translateX(-75vw)}

  .video{height:calc(100vh - 300px)}
  iframe{width:100vw}

  #abouth3 {margin-bottom:0}
  #itsc {align-items: center;}
  #marryme {justify-content: center;}

  .logo {font-size:5vw;padding:20px 40px}
  .menubar{width:100vw}
  .menubar .nav{padding:20px 40px}
  .navbar .nav a{margin-right:40px}

  .container{padding:20px 40px}
  .overview{padding:20px 60px}

  .half{
    padding-left:60px;
    margin-bottom:40px;
    height:100%;
    padding-top:160px;
  }
  .half div{width:100%}


  .landing{padding:0;overflow:scroll}
  .headline{width:100%;height:60%;padding-left:80px;padding-top:120px}
  .headline h3, .headline a{margin-left:0}
  .headline a{font-size:5vw}
  .landing div img{width:90%}
  .landing-img{width:100%;height:40%;margin-top:160px;justify-content: center;}

  .processbox, .processbar, .navbar{padding:40px}
  .processbox .caption{align-items:flex-start}
  .processbar{width:100vw;left:-100vw;}

  .video{height:30vh;overflow-x:hidden;align-items: center;}
  iframe{width:100vw}

  .indexbar{padding:30px 40px}

  #abouth3{padding: 20px 60px}
}
