*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: rubik, sans-serif;
  font-weight: lighter;
  color: dimgray;
}

body{
  margin: 0;
  background: rgb(248, 248, 248);
  overflow-x: hidden;
}

.stopscroll{overflow-y:hidden}

h1, h2, h3, a, p, i, em{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

h1, h2, h3{
  font-family:cy, sans-serif;
  font-weight:600;
}

h1{
  font-size: 2rem;
  color:darkgray;
  line-height:1.4;
}

h2{
  font-size: 1.6rem;
  color: #4666ff;
  line-height:1.4;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease;
}

h3{
  color: #4666ff;
  font-size: 1.2rem;
  line-height: 1.2;
}

p{
  font-size: 1.2rem;
  color: gray;
  font-family: rubik, sans-serif;
  line-height: 1.5;
}

@keyframes fadeIn{
  from {opacity:0} to {opacity:1}
}

.fadeIn{animation: fadeIn 1s ease}

/* @keyframes clickme{
  0%{transform:translateX(0)}
  50%{transform:translateX(0.75rem)}
  60%{transform:translateX(0)}
} */


.first a, .headline a{
  font-family:cy, sans-serif;
  font-weight:600;
}

a{cursor:pointer;transition:color 0.2s ease;}
a:hover, .title{color:#4666ff;}

.title{text-align:right}

.indexbar{
  width: 100%;
  padding: 10px;
  bottom:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.indexbar p{font-size:18px;transition:color 0.5s ease}
a:hover .indexbar p{color:#4666ff;}

.thumb{
  width:100%;
  overflow:hidden;
  display:flex;align-items:center;justify-content: center;
  /* box-shadow:0px 1px 5px rgba(0,0,0,0.15) */
}

.menubar{
  width: 100%;
  position: fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  transition: top 0.5s ease;
}

.menubar div{
  display:flex;
}

.menubar div a{
  /* text-transform:uppercase; */
  font-family: cy, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  transition:color 0.2s ease;
  margin-left: 4rem;
}
.menubar div a:hover{
  color:#4666ff;;
}

.menubar div a.selected{
  color:#4666ff;;
  border-bottom:0.2rem solid #4666ff;;
}

.menubar .nav{
  width:50%;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  display:flex;
  justify-content: flex-end;
}

.logo{
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  cursor:pointer;
  transition:color 0.2s ease;
}

.logo div{
  font-family: cy, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.eyes{
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}

.eye{
  width: 1.3rem;
  height: 1.3rem;
  border: 0.2rem solid;
  border-radius: 50%;
  margin: 0 1px;
  position: relative;
  overflow: hidden;
  background: white;
}

.eyeball{
  width: 0.65rem;
  height: 0.65rem;
  background: dimgray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.logo:hover div{
  color:#4666ff;
}
.logo:hover .eye{
  border: 0.2rem solid #4666ff;
}
.logo:hover .eyeball{
  background:#4666ff;
}

#menubar{
  width: 100%;
  position: fixed;
  top:0;
}


.container{
  width:100vw;
  height:100%;
  display: flex;
  padding: 0.75rem 2rem;
}

.start{
  height: 25vh;
  display: flex;
  align-items: flex-end;
  animation: fadeIn 1s ease;
}

.start .col2 a{
  margin-right:2rem;
  font-family: cy, sans-serif;
  color: #4666ff
}

.work{
  height: 100vh;
  flex-direction: column;
  padding-left: 3rem;
  align-items: flex-start;
  justify-content: center;
}

.work h1{
  color: #4666ff;
}

.work a{
  font-family:cy, sans-serif;
  font-weight:600;
  font-size: 2rem;
  color:darkgray;
  line-height:1.4;
  transition:.5s ease;
}

.work a:hover{
  color: #4666ff;
}

.hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
}

.hover-image {
    /* display: flex; */
    opacity: 0;
    transform:translateY(1rem);
    transition: 0.3s ease;
}

body:not(.mobile) .hover-title:hover + .hover-image {
    /* display: flex; */
    opacity: 1;
    pointer-events: none;
    transform:translateY(0);
}

.hover-image {
    position: fixed;
    right: 2rem;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

/* Change width and height to scale images */
    width: 50vw;
    /* height: 70vh; */
}

.hover-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
}

.evenmore{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-family:cy, sans-serif;
  font-weight:600;
  font-size:1.5rem;
  color: darkgray;
  transition: 0.2s ease;
}

.evenmore:hover{
  color: #4666ff
}

.slideIn{
  animation: slideIn 1s ease;
}

@keyframes slideIn{
  from{transform:translateY(1rem)}
  to{transform:translateY(0)}
}

footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
}

footer a{
  font-family: cy, sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: darkgray;
}

.footer-a{
  margin-left:2rem;
}

footer a:hover{
  color: #4666ff;
}

.process-a{
  position: fixed;
  bottom: 1rem;
  left: 2rem;
}

.image{
  align-items:flex-start;
}

.container img, .container div img{
  width:100%;
}

.full{height:100vh;margin:0;padding:0;align-items:center;overflow-y:hidden}
.full img{width:100%}

.column{flex-direction:column;justify-content: center;}


@media only screen and (max-width:900px){
  .full{justify-content: center;}
  .full img{width:200%}
}


.center, .single{justify-content: center;}
.single img{width:60%}

.half{height:70vh;
  justify-content: flex-end;
  align-items: center;
  margin-bottom:-60px;
}
.half div{
  width:50%;
}

.half .col2{padding-right:80px}


#abouth3{
  margin-bottom:-120px;
}

.proj-nav{
  position:fixed;
  bottom:20px;right:20px;
  font-size:20px;
}

.col1, .col2, .indexitem{
  width:50%;
}
.col1{
  margin-right:1.5rem;
}
.col1 img, .col2 img, .center img, .indexitem img{
  width:100%;
}

.info{
  width:50vw;
  margin:40px 20px;
  /* padding: 10px; */
}

.info p{
  font-size: calc(18px + 4 * (100vw - 480px) / 760);
}

.caption{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin:3rem 0;
}
.caption div{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.caption div p, .caption div h2, .caption div h3{
  width: 50%;
  padding-left: 0.75rem;
  padding-right:4rem;
}

.caption div p a{
  color:darkgray;
}
.caption div p a:hover{
  color:#4666ff;
}

/* @media only screen and (max-width:1024px){
  .caption div p{width:100%}
} */

.category{
  color: darkgray;
}

.video div{
  width: 100vw;
  height: 100vh;
  position: relative;
}

iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:75vw;
  height:100%;
}

.video{
  height:calc(100vh - 8rem)
}

#marryme{
  display:flex;align-items:center;
  background:white;
  height:100vh
}

@media screen and (max-width:900px){
  #marryme{
    flex-direction:column;
    height:100%;
    margin-top:40px;
  }
}


.process{
  position:fixed;
  top:0;
  left:-80vw;
  width:80vw;
  height:100vh;
  background:rgb(248, 248, 248);
  z-index:999;
  overflow-x: hidden;
  transition: 1.5s ease;
}

.processbox{
  width:100%;
  height:calc(100% - 40px);
  padding: 2rem;
  overflow-y:auto;
}

.process .container{
  width:100%;
  height: auto;
  padding:0;
  margin:0;
  align-items:center;
}
.processbox div .col1, .process .col2,{
  margin:0;
}

.process p{
  font-size:1.1rem;
  width:50%;
  padding-left: 1.25rem;
  margin-bottom: 2rem;
}
.process img{
  width:100%;
  margin-bottom:20px;
  box-shadow:0px 0px 3px rgba(0,0,0,0.1)
}

.processflex{display:flex;align-items:center}

.processbar{
  position:fixed;
  bottom:0;
  left:-80vw;
  width:80vw;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgb(248, 248, 248);
  z-index:999;
}

.processbar a{
  font-family: cy, sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: darkgray;
}

.processbar a:hover{
  color: #4666ff
}

.showProcess{transform:translateX(80vw)}

.index{
  flex-flow: row wrap;
  padding-right:0;
}

.indexitem{
  padding-right:20px;
  margin-bottom:40px;
  opacity:0.3;
  transition:0.2s ease;
  /* display:none; */
}

.indexitem:hover{
  opacity:1;
}

.overlay{
  position:fixed;
  width:200vw;height:200vh;
  background:rgba(0,0,0,0.5);
  z-index:-1;
  opacity:0;
  transition:1.5s ease;
}

.showOverlay{opacity:1;z-index:99}

#itsc{
  align-items: flex-end;
}

.overview{
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  width: 60%;
}
.overview .col1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.overview .col2 p{
  padding-left:0.7rem;
  padding-right:4rem;
  color: dimgray;
  font-family: rubik, sans-serif;
  line-height: 1.5;
}

.overview a{
  /* font-family: cy, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: darkgray; */
}

.about{
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  animation: fadeIn 1s ease;
  padding-left: 3rem;

}
.about h1{
  color: #4666ff;
}

.about p{
  line-height:1.5;
  font-size: 1.4rem;
}

.about a{
  color: #4666ff;
  transition: 0.3s ease;
}

.about a:hover{
  border-bottom: 0.2rem solid;
}

#brainstorm{
  position:absolute;
  bottom:-50px;right:0;
  width:50vw;
}
#float2{
  position:absolute;
  width:50vw;
  bottom:-50px;right:0;
  z-index:-1;
  animation:float 1.5s ease alternate infinite;
}

.extra{
  margin:0;
  margin-top:-10px;
  height:auto;
  margin-bottom:10px;
}
.extra p{
  margin:0;
  padding-left:10px;
  font-size: calc(12px + 4 * (100vw - 480px) / 760);
}
.extra .indexitem{
  display:flex;
  flex-flow:column;
  justify-content: center;
}
.extra .thumb{
  height:auto;
  background:none;
}

.extraspecial{
  flex-flow: column;
  justify-content: center;
}
.extraspecial img, .extraspecial p, .extraspecial h3{
  width:30vw;
}

.extraspecial h3{
  margin-top: 1rem;
}

.italy{
  justify-content: center;
  /* margin-bottom: 4rem; */
}

.italy .col1, .italy .col2{
  width: 45%;
}

.italy .col1 p, .italy .col2 p{
  text-align:right;
}

.shift .col2{
  margin-top:25vh;
}

.italy h3{
  margin-top: 1.75rem;
}

.italy p, .three p, .shift p{
  width:100%;
}

.three{width: 100%;height: auto;margin-top:2rem;justify-content:center}
.three .col1, .three .col2{
  width:25%;
}
.three p{
  width:100vw;
}

#awndy{
  margin-bottom: 2rem;
}

.extraspecial footer{
  position:absolute;
  bottom: 0;
  right: 0;
}


.landing{
  height:100vh;
  padding:0;
}

.headline{
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  animation: fadeIn 1s ease;
}

.headline h1, .headline a{
  margin-left:3rem;
}

.headline h1{
  color: dimgray;
}

h1 span{
  color: #4666ff;
  font-family: cy, sans-serif;
  font-weight:600;
}

.headline a{
  line-height:1.5;
  font-size: 2rem;
  color: darkgray;
  font-family:cy,sans-serif;
  transition:.3s ease;
}

.headline a:hover{
  color: #4666ff;
}

.landing-img{
  position:relative;
  width:50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom:-50px;
  padding-right: 2rem;
}

.landing div img{
  width:50vw;
}

#float{
  position: absolute;
  padding-left: 2rem;
  transform:translateY(0);
  z-index:-1;
  animation: float 1.5s ease alternate infinite;
}
@keyframes float{
  from{transform:translateY(0)} to {transform:translateY(20px)}
}

.show{opacity:1}
#filterby span{color:lightgray}
.filter{font-family:cy, sans-serif;font-weight:600;color:lightgray}
.filter.active {color:darkgray}

.mb{display:none}

.menu{
  position:fixed;
  top:0;
  transform:translateY(-110vh);
  z-index:2;
  width:100vw;
  height:100vh;
  background:rgb(248, 248, 248);
  text-transform: uppercase;
  transition:1s ease;
}

.menu a{
  font-size:10vw;
  font-family:cy,sans-serif;
  font-weight: 600;
  line-height: 1.5;
  color:#4666ff;
}
.showMenu{transform:translateY(0)}

#close{
  color:darkgray;
  font-size:60px;
}
.menu a:hover{color:blue}

@media only screen and (max-device-width:767px){
  .pc, .titlebar{display:none}
  .mb{display:block}

  .menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1{font-size: 6vw}
  h3{font-size: 4vw}

  p, .process p, .indexbar p, .extra p, .caption div p, .navbar, .menubar .nav, .processbar a, .about p
  {font-size: calc(20px + 30 * (100vw - 480px) / 760);}
  .menubar .nav{width:auto}

  .container, #marryme{flex-direction:column}

  .landing{align-items:center;justify-content:flex-start;padding:0}
  .headline{width:100%;height:60%;justify-content:flex-end}
  .headline h1{font-size:7vw;margin:0;margin-bottom:2rem}
  .headline span{color:inherit}
  .headline a{font-size:6vw;color:#4666ff;margin:0}
  .landing div img{width:90%}
  .landing-img{width:100%;height:40%;margin-top:160px;justify-content: center;}

  .work{
    justify-content: flex-start;
    margin-top: 10rem;
    height: 100%;
    animation: fadeIn 1s ease;
  }
  .work h1{
    margin-bottom: 2rem;
  }
  h2, .work a, .caption div h2{font-size:5vw}
  .hover-title, .hover-image{display:none}
  .evenmore{font-size:6vw;position:static;padding-left:4rem;padding-bottom:4rem;color:#4666ff}
  .work h3{color: darkgray;margin-bottom: 4rem}
  .work .mb img{width:100%}

  .start{height: 100%;margin-top: 10rem}
  .start .col1{margin-bottom:0}

  .title {text-align: left}
  .col1, .col2, .italy .col1, .italy .col2, .extraspecial h3, .extraspecial p{width:100%}
  .shift .col2{margin-top:1rem}
  .col1{margin-right:0;margin-bottom:2rem}
  .overview .col1{margin-bottom:0}

  .single img{width:100%}

  .indexitem{width:100%;padding-right:0}
  .thumb{height:auto}
  .filter{color:darkgray}
  .filter.active{color:rgba(0,0,255,0.75)}

  .full{height:100%;overflow-x:hidden;padding:0}
  .full img{width:100%}

  .caption div h2, .caption div h3, .caption div p, .overview h3, .about{width:100%;padding-left:0}

  .about{height:100%;padding-top:10rem}

  .process{left:-100vw;width:100vw;}
  .showProcess{transform:translateX(100vw)}
  .process p{width:100%;font-size:2vw;margin-bottom:4rem}
  .process img{margin-bottom:2rem}
  .process-img .col1{margin-bottom:1rem}
  .processbox{padding:3rem}
  .processbox .caption{align-items:flex-start}
  .processbar{width:100vw;left:-100vw;padding:2rem 3rem}

  .listmenu{right:-75vw;width:75vw}
  .showList{transform:translateX(-75vw)}

  .video{height:calc(100vh - 300px)}
  iframe{width:100vw}

  #abouth3 {margin-bottom:0}
  #itsc {align-items: center;}
  #marryme {justify-content: center;}
  #awndy{margin-bottom:0}

  .italy .col1{margin-bottom:1rem}
  .extraspecial h3{margin-top:2rem}
  .extraspecial p{margin-bottom:3rem}
  .extraspecial footer{position:static;padding:0;padding-bottom:1rem;margin-top:4rem}

  .logo {font-size:6vw;padding:2rem 4rem}
  .menubar{width:100vw}
  .menubar .nav{padding:2rem 4rem}
  .navbar .nav a{margin-right:40px}

  .container{padding:1rem 4rem}
  .overview{padding:20px 60px}

  .half{
    padding-left:60px;
    margin-bottom:40px;
    height:100%;
    padding-top:160px;
  }
  .half div{width:100%}

  .video{height:30vh;overflow-x:hidden;align-items: center;}
  iframe{width:100vw}

  .indexbar{padding:30px 40px}

  footer a{font-size: 4vw;}
  footer{padding: 2rem 4rem}
  .process-a{bottom:2rem;left:4rem}
}
