*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: sans-serif;
  background: whitesmoke;
  overflow-x: hidden;
}

h1, h2, h3, a, p{
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  color: inherit;
}

h1{
  font-size: 1.3rem;
}

h2{
  font-size: 1.3rem;
}

p{
  font-size: 1.2rem;
}

img{
  border-radius: 1px;
}

.screen{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  /* margin-bottom: 10px; */
  padding: 4px 5px 2px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-variant: small-caps;
  border-bottom: 2px dotted blue;
  background: whitesmoke;
  z-index: 999;
}

.header > h1{
  /* background: whitesmoke; */
  /* border-radius:50px; */
}

.logo{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  transition: 1s ease;
  transform-origin: top left;
  z-index: 99;
  /* border: 1px solid blue; */
}

.eyes{
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  /* background: whitesmoke; */
}

.eye{
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 1px;
  position: relative;
  overflow: hidden;
  background: white;
}

.eyeball{
  width: 70%;
  height: 70%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.hidden{
  width: 0;
  opacity: 0;
  transition: 1s ease;
}

.logo:hover .hidden{
  width: 100%;
  opacity: 1;
}

.logo:hover{
  transform: scale(1.1);
}

.fixed{
  position: fixed;
  margin: 10px;
  padding:2px 5px;
  z-index: 99;
}

.footer{
  /* position: fixed;
  width: 100%;
  bottom: 0; */
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px dotted blue;
  padding: 4px 5px 2px 5px;
  z-index: 999;
}

.intro{
  width: 100vw;
  height: 100%;
  padding: 20px;
  display: flex;
}

.intro > div{
  width: 100%;
}

.intro > div > h2{
  font-variant: small-caps;
}

.intro > div > p{
  width: 75%;
  font-size: 1.5rem;
}

.process{
  font-size: 1.5rem;
  font-style: italic;
}

.content{
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
}

.section{
  padding: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.full{
  margin-top: 0;
  height: 100vh;
}

.section > img{
  width: 60%;
  margin-bottom: 20px;
  border-radius: 2px;
  /* box-shadow: 0px 0px 20px rgba(0,0,0,0.1); */
  /* height: 100%; */
}

.section > p{
  position: absolute;
  right: 80px;
  top: 90%;
  margin-top: 20px;
  width: 40%;
  display: flex;
  font-size: 1rem;
  color: dimgray;
}

.img-wrap{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid; */
}

.img-wrap > img{
  width: 50%;
  margin-bottom: 20px;
  border-radius: 2px;
  /* box-shadow: 0px 0px 20px rgba(0,0,0,0.1); */
}

.img-wrap > p{
  width: 40%;
  font-size: 1rem;
  position: absolute;
  left: 50px;
  bottom: 25px;
  color: dimgray;
}

.shift{
  margin-top:100px;
  margin-left:-100px;
}

#joob3{
  width: 70%;
  margin-right: -50px;
  box-shadow: none;
}

#joob4{
  width: 70%;
  margin-left: -50px;
  box-shadow: none;
}

#icf > img{
  padding: 20px;
  width: 30%;
}

#tote > img{
  padding: 10px;
  width: 40%;
}

.highlight{
  background: yellow;
  color: blue;
}

@media screen and (max-width: 1024px){
  .intro, .img-wrap{
    flex-direction: column;
  }
  .intro > div > p{
    width: 80%;
  }
  .section{
    height: 100%;
    margin: 40px 0;
  }
  .section > img{
    width: 100%;
    margin-bottom: 0;
  }
  .section > p{
    position: static;
    width: 100%;
  }
  .img-wrap > img{
    width: 100%;
  }
  .img-wrap > p{
    position: static;
    width: 100%;
  }
  .shift{
    margin: 0;
  }
  #joob3, #joob4{
    margin: 0;
    width: 100%;
  }
  #tote > img{
    padding: 10px;
    width: 100%;
  }
  iframe{
    width: 100vw;
  }
}
