*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

body{
  margin: 0;
  background: whitesmoke;
  overflow-x: hidden;
}

@keyframes fadeIn{
  from {transform:translateY(100vh);overflow:hidden} to {transform:translateY(0)}
}

h1, h2, h3, a, p{
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  color: inherit;
}

h1{
  font-size: 1.3rem;
}

h2{
  font-size: 1.2rem;
}

p{
  font-size: 1.2rem;
}

img{
  border-radius: 1px;
}

.screen{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.dropbtn {
  background: whitesmoke;
  color: black;
  font-size: 1.5rem;
  border: 2px solid black;
  cursor: pointer;
  padding: 0 5px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: yellow;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position:fixed;
  right:20px; */
  display: inline-block;
  z-index: 9999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  border: 2px solid black;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  background: whitesmoke;
  color: black;
  /* border: 2px solid black; */
  padding: 5px 7px;
  font-size: 1.6rem;
  text-align: left;
  /* margin-top: 10px; */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: skyblue;
  color: yellow;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.logo{
  position: fixed;
  top: 15px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: whitesmoke;
  font-size: 2rem;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.logo:hover{
  text-shadow: 0 0 10px pink;
}

.logo:hover .eye{
  box-shadow: 0 0 10px pink;
}

.eyes{
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.eye{
  width: 26px;
  height: 26px;
  border: 2.5px solid black;
  border-radius: 50%;
  margin: 1px;
  position: relative;
  overflow: hidden;
  background: white;
}

.eyeball{
  width: 70%;
  height: 70%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.logo:hover .eyeball{
  border: 6px dotted cyan;
}

.more{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.morebtn{
  background: whitesmoke;
  color: black;
  font-size: 1.5rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

.morebtn:hover{
  /* background: magenta; */
  color: blue;
}

.intro{
  width: 100vw;
  padding: 20px;
  display: flex;
  margin-top: 40px;
  border-top: 2px dotted blue;
}

.intro div{
  width: 25%;
  padding-left: 20px;
}

.intro .summary{
  width: 75%;
  padding: 0;
}

.intro div h2{
  font-variant: small-caps;
  line-height: 1.5;
}

.intro div p{
  width: 80%;
  font-size: 1.3rem;
  line-height: 1.3;
}

.intro a{
  border-bottom: 2px dotted blue;
}

.intro a:hover{
  color: magenta;
  border-bottom: 2px solid blue;
}

.content{
  width: 100vw;
  display: flex;
  flex-direction: column;
  animation: fadeIn 3s ease;
  /* border: 1px solid blue; */
}

.section{
  padding: 20px;
  width: 100vw;
  height: 100%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid blue; */
}

.full{
  margin: 0;
  height: 100vh;
}

.fit{
  height: 100%;
}

.end{
  margin-bottom: 60px;
}

.section > p{
  position: absolute;
  right: 80px;
  top: 90%;
  margin-top: 20px;
  width: 40%;
  display: flex;
  font-size: 1rem;
  color: dimgray;
}

.img-wrap{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid; */
}

.img-wrap > img{
  width: 50%;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.img-wrap > p{
  width: 40%;
  font-size: 1rem;
  position: absolute;
  left: 50px;
  bottom: 25px;
  color: dimgray;
}

.shift{
  margin-top: 5%;
  margin-left:-5%;
}

#card img{
  margin: 0;
  border-radius:0
}

.highlight{
  /* background: mistyrose; */
  /* color: blue; */
  text-decoration: underline;
}

.nav{
  position: fixed;
  padding: 10px;
  right: 10px;
  bottom: 0;
  font-size: 1.4rem;
  display: flex;
  z-index:9999;
  border-radius: 50%;
}

.nav a{
  font-size: 3rem;
  text-shadow: 0 0 20px whitesmoke;
  transition: transform 2s ease;
}

.nav div{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 2px;
}

.nav div p{
  line-height: 0;
  font-size: 0.75rem;
  background: white;
  color: blue;
  text-shadow: 0 0 20px whitesmoke;
  display: none;
}

.nav a:hover{
  color: magenta;
  text-shadow: 0 0 20px cyan;
  transform:rotate(180deg);
}
.nav div:hover p{
  display: block;
}

#joob3{
  width: 70%;
  margin-right: -50px;
  box-shadow: none;
}

#joob4{
  width: 70%;
  margin-left: -50px;
  box-shadow: none;
}

#rbha{
  justify-content: center;
  align-items: center;
}
.center{
  justify-content: center;
}

.fxend{
  justify-content: flex-end;
}

.fxstart{
  justify-content: flex-start;
}

.content-wrap{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fit{
  height: 100%;
}

.img-wrap2{
  position:relative;
  width: 75%;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
  /* border: 1px solid; */
}

.padded{
  padding: 20px;
}

.img-wrap2 img{
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.img-wrap2 p{
  margin-top: 20px;
}

.padding{
  width:25%;
  height: 100%;
  padding-left: 20px;
}

.caption{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.caption p{
  width: 35%;
  font-size: 1rem;
  line-height: 1.3;
  background: white;
  color: dimgray;
  padding: 40px;
  border: 2px solid;
  border-radius: 1px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.caption a{
  border-bottom: 1px dotted;
}

.caption a:hover{
  border-bottom: 1px solid blue;
}

.caption-spacer{
  width:50%;
}

#totebadge{
  position:absolute;
  width:20%;
  bottom:-25%;
  right:-25%;
  box-shadow:none;
}

.marryme{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content:flex-start;
  align-items: center;
}

.marryme h1{
  width: 50%;
  color: gray;
  background:white;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 5px 5px;
  border-radius: 50%;
}

.marryme p{
  width: 50%;
  color: gray;
  text-align: center;
  margin-top: 20px;
  font-size: 0.75rem;
}

.marryme img{
  box-shadow:none;
  width: auto;
  height: 50px;
}

iframe{
  width:70vw;
  height:100%;
}

.nav .mobileonly{display:none}

@media screen and (max-width: 1000px){
  h2{
    font-size: 3vw;
  }
  p{
    font-size: 4vw;
  }
  .pconly{display:none}
  .nav .mobileonly{display:block}
  .screen{
    overflow-x: hidden;
  }
  .logo{
    position:absolute;
    top: 20px;
    left: 30px;
    font-size: 7vw;
  }
  .eye{
    width: 5.75vw;
    height: 5.75vw;
    border: 0.6vw solid black;
    margin: 0.2vw;
  }
  /* .content{animation:none} */
  .intro, .img-wrap, .content-wrap{
    flex-direction: column;
  }
  .intro{
    margin-top:60px;
    margin-bottom: 20px;
    padding: 40px;
    border-top: 6px dotted blue;
  }
  .intro a{
    border-bottom: 6px dotted blue;
  }
  .intro div, .padded{
    padding: 0;
  }
  .intro > div, .img-wrap2{
    width: 100%;
  }
  .intro > div > p{
    width: 90vw;
    font-size: 5vw;
  }
  .intro .summary{
    margin-top:40px;
    font-size: 6vw;
  }
  .section{
    height: 100%;
    padding: 40px;
  }
  .section > img{
    width: 100%;
  }
  .section p{
    position: static;
    width: 100%;
    padding: 20px;
    font-size: 3vw;
  }
  .img-wrap > img{
    width: 100%;
  }
  .img-wrap > p{
    width: 100%;
    font-size: 3vw;
  }
  .shift{
    margin: 0;
  }
  #joob3, #joob4{
    margin: 0;
    width: 100%;
  }
  #tote > img{
    padding: 10px;
    width: 100%;
  }
  iframe{
    width: 100vw;
  }
  #video{
    height:50vh;
  }
  .padding, .caption-spacer{display: none;}
  .caption p{
    border:none;
    background:none;
    box-shadow:none;
  }
  .caption a{
    border-bottom: 1px solid blue;
  }
  .marryme {margin-top:40px;}
  .marryme h1{
    font-size: 2rem;
  }
  .marryme p{
    width: 50vw;
    margin-top: 10px;
  }
  .marryme img{
    height: 100px;
    width: auto;
  }
  .nav{
    position: relative;
    padding: 10px;
    right: auto;
    bottom: auto;
    font-size: 1.4rem;
    justify-content: center;
  }
  .nav a{
    font-size: 15vw;
    /* color: magenta; */
    transition: transform 2s ease;
    /* text-shadow: 0 0 40px cyan; */
  }
  .nav div{
    margin: 40px 20px;
  }
  .nav div p{
    font-size: 4vw;
    display: block;
  }
}
