*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: #323232;
}

body{
  margin: 0;
  background: whitesmoke;
  overflow-x: hidden;
}

.stopscroll{overflow-y:hidden}

h1, h2, h3, a, p, i, em{
  margin: 0;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

h1{
  font-variant: small-caps;
  font-size: 14px;
  /* font-size: calc(12px + 4 * (100vw - 480px) / 760); */
  line-height: 1.5;
}

h2{
  font-size:18px;
}

h3{
  font-size:60px;font-family:proxima-soft,sans-serif;
  color:darkgray;
  line-height:1;
  animation: fadeIn 1s ease;
}

p{
  font-size: 22px;
  line-height:1.3;
}

em{
  font-family:proxima-soft, sans-serif;
}

a{cursor:pointer;transition:color 0.2s ease;}
a:hover{color:blue}

.indexbar{
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  bottom:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.indexbar p{font-size:20px;transition:color 0.5s ease}
a:hover .indexbar p{color:blue}

.thumb{
  width:100%;height:50vh;
  background:white;
  overflow:hidden;
  display:flex;align-items:center;justify-content: center;
  /* box-shadow:0px 1px 5px rgba(0,0,0,0.15) */
}

.titleimg{animation:fadeIn 2s ease}
@keyframes fadeIn{
  from {opacity:0} to {opacity:1}
}

.titlebar{
  width: 50%;
  padding: 10px 20px;
  font-size: 18px;
  position:absolute;
  bottom:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
  /* border-top-right-radius: 25px; */
}

.titlebar p{text-transform:uppercase;letter-spacing:0.5px;font-size:20px}
.titlebar a, .processbar a, .navbar a, .list a{
  color:darkgray;
  transition:color 0.2s ease;
}
.titlebar a:hover, .processbar a:hover, .navbar a:hover, .list a:hover{
  color:blue;
}
.titlebar .nav{
  display:flex;justify-content:flex-end
}
.titlebar .nav a{
  margin-left:20px;
}

.navbar{
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 9999; */
  /* transition: 1s ease; */
  background: whitesmoke;
}

.navbar .nav{
  display:flex;
  justify-content: flex-start;
}
.navbar .nav a{
  margin-right:20px;
}

.menubar{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  /* transition: 1s ease; */
  background: whitesmoke;
}

.menubar div{
  display:flex;
  justify-content:space-between;
  /* justify-content: flex-end; */
}

.menubar div a{
  text-transform:uppercase;
  letter-spacing: 1px;
  transition:color 0.2s ease;
  color: gray;
}
.menubar div a:hover{
  color:blue;
}

.menubar div a.active{
  color:blue;
  border-bottom:1px solid blue;
}

.menubar .nav{
  width: 20vw;
  padding: 10px 20px;
  font-size: 16px;
  display:flex;
  justify-content: space-between;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show, .alwaysshow{
  display: flex;
  flex-direction: column;
}

.logo{
  font-size: 24px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  cursor:pointer;
  transition:color 0.2s ease;
  /* transform: scale(1.1) */
}

.logo div{
  font-family: proxima-soft, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: black;
}

.eyes{
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.eye{
  width: 18px;
  height: 18px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 1px;
  position: relative;
  overflow: hidden;
  background: white;
}

.eyeball{
  width: 70%;
  height: 70%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.logo:hover div{
  color:blue;
}
.logo:hover .eye{
  border: 2px solid blue;
}
.logo:hover .eyeball{
  background:blue;
}

.container{
  width:100vw;
  height:100%;
  display: flex;
  padding: 10px 20px;
  /* border:1px solid red; */
}

.container img, .container div img{
  width:100%;
}

.full{height:99.9vh;margin:0;padding:0;align-items:center;overflow-y:hidden}
.full img{width:100%}
.center, .single{justify-content: center;}
.single img{width:60%}
.column{flex-direction:column}

.half{height:75vh;align-items:center;margin-bottom:-40px;}
.half p{
  letter-spacing: 1px;font-family:proxima-soft,sans-serif;color:dimgray;
  width:75%;
}

.proj-nav{
  position:fixed;
  bottom:20px;right:20px;
  font-size:20px;
}

.col1, .col2, .indexitem{
  width:50%;
}
.col1{
  margin-right:20px;
}
.col1 img, .col2 img, .center img, .indexitem img{
  width:100%;
}

.info{
  width:50vw;
  margin:40px 20px;
  /* padding: 10px; */
}

.info p{
  font-size: calc(18px + 4 * (100vw - 480px) / 760);
}

.caption{
  width: 50vw;
  font-size: calc(12px + 4 * (100vw - 480px) / 760);
  line-height: 1.3;
  color: dimgray;
  padding: 20px;
  padding-right:80px;
  margin:40px 0;
}

iframe{
  width:75vw;
  height:100%;
}

.process{
  position:fixed;
  top:0;
  left:-80vw;
  width:80vw;
  height:100vh;
  background:whitesmoke;
  z-index:999;
  overflow-x: hidden;
  transition: 1.25s ease;
}

.processbox{
  width:100%;
  height:calc(100% - 40px);
  padding: 20px;
  overflow-y:auto;
}

.process .container{
  width:100%;
  height:auto;
  padding:0;
  align-items:center;
}
.process p{
  font-size:16px;
  width:100%;
  margin:0;
  margin-top:-10px;
  margin-bottom:20px;
}
.process img{
  width:100%;
  margin-bottom:20px;
  box-shadow:0px 0px 3px rgba(0,0,0,0.1)
}

.processflex{display:flex;align-items:center}

.processbar{
  position:fixed;
  bottom:0;
  left:-80vw;
  width:80vw;
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: whitesmoke;
  z-index:999;
}

.listmenu{
  position:fixed;
  bottom:0;
  right:-25vw;
  width:25vw;
  height:50vh;
  background: gainsboro;
  /* background: gray; */
  /* background: forestgreen; */
  z-index:2;
  overflow-x: hidden;
  padding: 20px;
  transition: 1s ease;
}

.list{
  display:flex;
  flex-flow:column;
  /* margin-top:20px; */
  font-size:18px;
}

.list a{
  margin-bottom:20px;
  /* color:pink; */
  color:gray;
  /* color:whitesmoke; */
}

.listmenu .nav{
  position:absolute;
  bottom:10px;right:20px;
  width:100%;
  display:flex;
  justify-content: flex-end;
  font-size:18px;
  color:gray;
}

/* .showProcess{transform:translateX(calc(50vw + 10px))} */
/* .showProcess{transform:translateX(75vw))} */
.showProcess{transform:translateX(80vw)}

.showList{
  transform: translateX(-25vw);
}

#teleport{
  transform: translateY(-80px);
  opacity:0;
}

.index{
  flex-flow: row wrap;
  padding-right:0;
}

.indexitem{
  padding-right:20px;
  margin-bottom:40px;
}

.overlay{
  position:fixed;
  width:200vw;height:200vh;
  background:rgba(0,0,0,0.5);
  z-index:-1;
  opacity:0;
  transition:1.5s ease;
}

.showOverlay{opacity:1;z-index:99;}

#itsc{
  align-items: flex-end;
}

.overview{
  margin-top:60px;
}
.overview .col1{
  padding-left:20px;
  width:75%
}

.about{
  position:absolute;
  top:calc(50vh + 40px);
  height:90vh;
  margin:0;
  overflow:hidden;
}
.about .col1{
  opacity:0;
  animation:fadeIn 2s ease forwards;
  animation-delay: 1s;
}
.about .col2{
}
.about p{
  line-height:1.35;
  padding-left:20px;
  font-size: calc(18px + 4 * (100vw - 480px) / 760)
}

.about a{
  padding: 0 5px;
  border: 1px solid;
  transition: 0.2s ease;
}
.about a:hover{
  color:whitesmoke;
  background:blue;
  border: 1px solid blue;
}

#brainstorm{
  position:absolute;
  bottom:-50px;right:20px;
  /* padding-right:20px; */
  width:50vw;
}
#brainstorm_obj{
  position:absolute;
  right:20px;
  /* padding-right:20px; */
  width:50vw;
  z-index:-1;
  animation:float 1s ease alternate infinite;
}

@keyframes float{
  from{bottom:-55px} to {bottom:-40px}
}

.extra{
  margin:0;
  margin-top:-10px;
  height:auto;
  margin-bottom:10px;
}
.extra p{
  margin:0;
  padding-left:10px;
  font-size: calc(12px + 4 * (100vw - 480px) / 760);
}
.extra .indexitem{
  display:flex;
  flex-flow:column;
  justify-content: center;
}
.extra .thumb{
  height:auto;
  background:none;
}
