html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: sans-serif;
  /* overflow-x: hidden; */
}

h1, h2{
  text-decoration: none;
  margin: 0;
  font-weight: normal;
}

p, a{
  text-decoration: none;
  margin: 0;
}

.screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel{
  width: 800px;
  height: 500px;
}

.carousel-cell {
  width: 100%; /* half-width */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel-cell > img {
  width: 100%;
  margin-bottom: 10px;
}

/* no circle */
.flickity-button {
  background: transparent;
}

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* icon color */
.flickity-button-icon {
  fill: gray;
  transition: fill 0.5s ease;
}

.flickity-button-icon:hover {
  fill: black;
}

/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: -100px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: transparent;
  border: 2px solid black;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: black;
}
