html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: sans-serif;
  /* overflow-x: hidden; */
}

h1, h2{
  text-decoration: none;
  margin: 0;
  font-weight: normal;
}

p, a{
  text-decoration: none;
  margin: 0;
}

.screen{
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
  border: 1px solid red;
}

.full {
  height: 100vh;
}

.half {
  height: 50vh;
}

.fit{
  height: 100%;
}

.menu {
  position: fixed;
  z-index: 1;
  /* background: white; */
  width: 100%;
  padding: 5px;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
}

.img-wrap{
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.col{
  flex-direction: column;
}

.img-wrap > img {
  width: 100%;
}

.content {
  width: 100%;
  /* height: 100%; */
  border: 2px solid green;
}

.info{
  position: absolute;
  top: 20px;
  transform: translateY(25%);
  max-width: 25%;
  border: 2px solid rgba(0,0,0,0.75);
  border-radius: 2px;
  background: white;
  box-shadow: 0px 0px rgba(0,0,0,1);
  padding: 20px;
  transition: box-shadow 0.5s ease;
}

.info:hover{
  box-shadow: 7px 7px rgba(0,0,0,1);
}

.process{
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 100%;
  background: yellow;
}

@media screen and (max-width: 800px){
  .screen{
    padding: 30px;
    flex-direction: column;
  }
  .img-wrap{
    flex-direction: column;
    height: 100%;
  }
}
