*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
}

h1, h2, h3 {
  text-decoration: none;
  margin: 0;
  font-weight: normal;
}

a{
  text-decoration: none;
}

.universe{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: forestgreen;
  overflow: hidden;
}

.intro{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50%;
  z-index: -1;
}

.person {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: -20vw;
  /* border: 1px solid blue; */
}

.eyes{
  position: absolute;
  top: 13%;
  left: 46%;
  text-align: center;
  display: flex;
  z-index: 3;
}

.eye{
  width: 3.5vw;
  height: 5.5vw;
  border: 0.24vw solid black;
  border-radius: 50%;
  margin: 0.1vw;
  position: relative;
  overflow: hidden;
  background: white;
}

.eyeball{
  width: 70%;
  height: 70%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.eyes:hover .ball{
  width: 100%;
  height: 5%;
  border-radius: 0%;
}

.cap{
  position: absolute;
  width: 43.1%;
  left: 37.7%;
  animation:
  moveCap 5s ease forwards,
  float 1.5s 1s ease-in-out infinite alternate;
}

#arm{
  z-index:6;
}

#body{
  z-index:2;
}

@keyframes moveCap{
  0% {
    top: -21%;
  }
  100% {
    top: -60%;
  }
}

@keyframes float{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-5px)
  }
}

@keyframes floatBtn{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(5px)
  }
}

.button-wrap{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height:40vw;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid red; */
  padding: 20px;
  z-index: 1;
}

.button{
  position: relative;
  background: white;
  border: 2.5px solid black;
  padding: 3px 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 rgba(0,0,0,0.5);
  transform: translate(5px, 5px);
  font-size: 1.5em;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wholesome{
  animation:
  move 5s ease forwards,
  floatBtn 1.5s ease-in-out infinite alternate;
}

#illust{
  margin-left: 50px;
  animation:
  move 6s ease forwards,
  floatBtn 1.5s ease-in-out infinite alternate;

}

#archive{
  animation:
  move 7s ease forwards,
  floatBtn 1.5s ease-in-out infinite alternate;
}

.button:hover{
   transform: translate(0,0);
}

.featured{
  border: 5px solid forestgreen;
  background: whitesmoke;
  width: 75vw;
  height: 100vh;
  padding: 20px;
  transition: all 3s ease;
  transform: scale(0);
  position: absolute;
  top: 0;
  left: 0;
  /* border-radius: 50px; */
}

.expand{
  transform: scale(1);
  /* z-index: 2; */
  border-radius: 0;
}

@keyframes move{
  0%{
    left: 45%;
    top: 100%;
  }
  50%{
    left:45%;
    top: 100%;
  }
  100%{
    left: 45%;
    top: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .person{
    width: 90%;
    left: 50px;
    bottom: -240px;
  }
  .eye{
    width: 6.5vw;
    height: 10vw;
    border: 0.4vw solid black;
  }
  .intro{
    width: 100%;
    font-size: 2em;
  }
  .object{
    left: 54%;
    width: 20vw;
    height: 20vw;
  }
}
