*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: roc-grotesk, sans-serif;
  color: dimgray;
}

body{
  margin: 4vw 6vw;
  background: rgb(248, 248, 248);
  overflow-x: hidden;
}

body.preload *{
  animation-play-state:paused;
}

.stopscroll{overflow:hidden}

h1, h2, h3, a, p, i, em{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  line-height:1.5;
}

h1, h2, h3{
  /* font-family:roc-grotesk-wide, sans-serif; */
  font-weight:500;
  letter-spacing:0.03rem;
  line-height:1.3;
  color: #4666ff !important;
}

h1{
  font-size: 2.2rem;
  /* text-transform:uppercase; */
}

h2{
  font-size: 1.5rem;
  text-transform:uppercase;
}

h3{
  font-size: 1.2rem;
  margin-bottom:1.2rem;
}

p, p a{
  font-family:aktiv-grotesk, sans-serif;
  font-size: 1rem;
  letter-spacing:0.02rem;
}

.intro {display:flex;flex-direction:column;align-items: start}
.link {
  font-size: 2.2rem;font-weight:500;
  letter-spacing:0.03rem;
  line-height:1.3;
  color:darkgray !important;transition:color 0.2s ease}

a{cursor:pointer;transition:color 0.2s ease}
a.active, .link:hover {color:#4666ff !important}
a:hover{color:#dd47ff !important;}

p a{border-bottom:1px dotted darkgray}
p a:hover{border-bottom:1px dotted #dd47ff}

em{
  font-style:normal;
  font-size: 1.1rem;
  font-weight:500;
  letter-spacing:0.03rem;
}

span {
  text-transform:uppercase;
}

main{
  display:flex;
  flex-direction:column;
  margin-bottom:6vw;
}

video{
  margin:0;padding:0;
  width:99.9%;
}

iframe{
  width:100%;
  height:100%;
}

.video{
  padding:55% 0 0 0;
  position:relative;
  width:100%
}

header{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:8vw;
}

header nav{width:50%;display: flex;justify-content: space-between;margin-left:2rem}

header nav a{
  font-weight:400;
  font-size:0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  transition:color 0.2s ease;
  /* margin-left: 3rem; */
}
nav a:hover{
  color:#4666ff;
}

#mobile-nav{
  font-weight:500;
}

.menu{
  position:fixed;
  top:0;
  transform:translateY(-100vh);
  z-index:2;
  width:100%;
  height:100%;
  background:rgb(248, 248, 248);
  text-transform: uppercase;
  transition:1s ease;
  margin-left:-6vw
}

.menu a{
  font-family:roc-grotesk-wide;
  font-size:6vw;
  font-weight: 500;
  line-height: 1.5;
  color:#4666ff;
}
.showMenu{transform:translateY(0)}

#close{
  color:darkgray;
}

.menu a:hover{color:darkgray}


.logo{
  display:flex;
  cursor:pointer;
  width:50%;
}

.logo img{
  height:1.2rem;
}

#logo_hover, .logo:hover #logo_normal{
  display:none;
}

.logo:hover #logo_hover{
  display:block;
}

.grid{
  display: grid;
  grid-gap: 2rem;
  margin-bottom:2rem;
  width:100%;
  height:100%;
}

.col-2{
  grid-template-columns: 1fr 1fr;
}

.col-3{
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

.square{
  grid-auto-rows: calc((88vw - 6rem) / 3);
}

.col-4{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid img{
  width:100%;
}

.grid a{
  overflow:hidden;
}

.col-3 img,
.fill img
{
  height:100%;
  object-fit:cover
}

.vary{
  align-items:flex-start;
}
.vary img{
  object-fit: contain;
}

.sketch img{
  box-shadow:0px 0px 3px rgba(0,0,0,0.2);
}

.rounded img{
  border-radius:25px;
}

.grid-item p{
  margin-top:1rem;
  margin-bottom:2rem
}

.span-2{
  grid-column: span 2
}

.span-3{
  grid-column: span 3
}

.thumbnail{
  /* width:60%; */
  position:relative;
}

.cover{
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  background:rgba(248,248,248,0.9);
  opacity:0;
  transition:opacity 0.3s ease;
  padding: 3rem 4rem;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.cover h2{
  text-align:center
}

.thumbnail:hover .cover{
  opacity:1
}

.thumbnail:hover video{
  box-shadow:none;
}

#illust-grid{
  margin-top:4vw
}

.illust-nav{
  width:100%;
  display:flex;
  /* justify-content: space-between; */
}

.illust-nav a{
  text-transform:uppercase;
  font-size:0.9rem;
  letter-spacing:0.04rem;
  margin-right:3rem
}

footer{
  width:100%;
  display:flex;
  justify-content: space-between;
}

footer a{
  text-transform:uppercase;
  font-size:0.9rem;
  letter-spacing:0.04rem;
}

footer nav{
  display:flex;
  justify-content: flex-start;
}

footer nav a{
  margin-right:3rem
}

.project-title, .project-category{
  /* width: 20%; */
  width:50%;
  margin-right:4vw;
}
.project-text{
  width:50%
}

.art-info p{
  margin-bottom:0 !important
}

.bg-single{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:6vw 8vw;
  background:lightgray;
}
.black{
  background:black;
}

.bg-grid{
  height:100%;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  align-items: center;
  grid-gap:2rem;
  padding:6rem 8rem;
}

.flexright{
  width:100%;display:flex;justify-content:flex-end
}

.fullheight{
  height:100vh
}

.cutoff{
  padding:6rem 8rem 0 8rem;
  align-items: flex-start;
  overflow-y:hidden;
}

.bg-grid img, .bg-single img{
  width:100%;
}

.project-info{
  margin-bottom: 0;
}

.landing{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  display: flex;
  overflow:hidden;
  padding:0 4vw 0 6vw;
  z-index:-1
}

.landing-img{
  position:relative;
  width:50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom:-50px;
}

.landing img{
  width:100%;
}

#float{
  position: absolute;
  transform:translateY(0);
  z-index:-1;
  animation: float 1.5s ease alternate infinite;
  animation-delay:0.5s;
}
@keyframes float{
  from{transform:translateY(0)} to {transform:translateY(20px)}
}

.about{
  width:50%;
  /* height:100%; */
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
}
.about h1{
  margin-bottom: 1.2rem;
}

.about p{
  padding-right:3rem;
  margin-bottom: 1rem;
}

.contact a{color:#4666ff}

.soundtrack {
  position:absolute;
  left: 6vw;
  bottom:4vw;
  font-size:0.8rem;
  color:darkgray;
}

.mobile-frame {
  width:100%;
  display: flex;
  border-radius:30px;
  padding:3vw 1vw;
  background:#333333
}
.mobile-screen{
  width:100%;
}
.mobile-screen img{
  width:100%;
}

@keyframes fadeIn{
  from {opacity:0} to {opacity:1}
}

.fadeIn{animation: fadeIn 1s ease}


.heading{
  padding:0 3rem;
  margin:12rem 0 6rem 0;
  width:60%;
  display:flex;
  flex-flow:column;
}

.heading h1{
  padding-right:1rem;
}


#thumb-otl{width:40%}

.highlight video, .highlight img{
  display:block;
  width:100% !important;
  padding:0 !important;
}

.highlight h2{
  color:#4666ff;
}

.fullsize{
  width:100% !important;
}


.start{
  padding-top:12rem;
}

.slideIn{
  animation: slideIn 1s ease;
}

@keyframes slideIn{
  from{opacity:0;transform:translateY(1rem)}
  to{opacity:1;transform:translateY(0)}
}

.slideInOnly{
  animation: slideInOnly 1s ease;
}
@keyframes slideInOnly{
  from{transform:translateY(1rem)}
  to{transform:translateY(0)}
}

#backtotop{
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.container{
  width:100%;
  height:100%;
  display: flex;
  align-items: flex-start;
}

.full{height:100vh;margin:0;align-items:center;overflow-y:hidden}
.container img, .container div img, .full img{width:100%}

.column{flex-direction:column;justify-content: center;}

.right{justify-content:flex-end}
.right img{width:50%;padding-left:1rem}
.center, .single{justify-content: center;}
.single{align-items: flex-start;}
.single img{width:60%}

.col1, .col2{
  width:50%;
}
.col1{
  margin-right:2rem;
}
.col1 img, .col2 img, .center img{
  width:100%;
}

.info{
  margin-bottom:1rem;
  flex-direction:column;
}

.info h1{
  color:lightgray;
  margin-bottom:0;
}

.caption{
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  margin:6rem 0;
  padding:0 3rem;
}

.caption p, .caption h2, .caption h3{
  width:50%;
  padding-left:1rem;
  padding-right:4rem;
}


.overview{
  flex-direction:row;
  align-items:flex-start;
}

.overview h2{margin-bottom:2rem}

.add{
  align-items:flex-start;padding-left:2rem;margin-bottom:4rem;
}
.add p{width:40%;color:darkgray}

.extra{
  align-items:flex-start;padding-left:2rem;
  margin: 1rem 0 6rem 0;
}
.extra h3{margin-bottom:0}

/* .contact a{
  color: #4666ff;
  transition:color 0.3s ease;
}
.contact a:hover{
  color:magenta !important;
} */

.show{opacity:1}

.mb{display:none}


.web-sim{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  /* box-shadow:0 0.5rem 1rem rgba(0,0,0,0.5); */
}

#browser{
  width:100%;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  /* height:auto; */
}

.web-sim img{
  width:100%;
}

#myInput{display:none}

@media (max-width:1023px){
  .col1, .col2, .heading, .about, .caption p, .caption h2, .caption h3 {width:100% !important}
  .overview{flex-direction:column}
  .landing{flex-direction:column}
  .landing-img{width:100%}
  .awndy, .icf-grid{display:flex;flex-flow: wrap;align-items: flex-start;}
  .awndy article, #postcard{margin-bottom:2rem}
  .bg-single, .bg-grid{padding:3rem 4rem}
  .fullheight{height:70vh}
  .add p{width:50% !important}
  .right img{width:100%;padding:0}
}

@media (max-width:900px){
  .pc{display:none !important}
  .mb{display:block}
  .full{justify-content: center;}
  .full img{width:200%}
  .thumbnail, #thumb-otl{width:100%}
  .container{flex-direction:column}
  .col1, .col2, .single img{width:100%}
  .col1{margin-right:0;margin-bottom:2rem}
  .menu{
    display:flex;flex-direction: column;
    align-items: center;justify-content: center;
  }
  .grid-item{
    grid-column: span 2
  }
  .grid1{grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));}
  .landing{height:100%}
  .landing-img, .landing div img{width:100%}
  #menu{font-size:1.2rem}
  .fullheight{height:100%}
  .add p{width:70% !important}
}

@media only screen and (max-device-width:767px){
  body{margin:8vw 6vw}
  .thumbnail, #thumb-otl{width:100%}
  .pc, #illust-grid{display:none !important}
  .mb{display:block}

  .menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1{font-size: 4rem}
  h2{margin-bottom: 4rem}
  h3{font-size: 2.5rem}

  p, .caption p, .about p, h3
  {
    /* font-size: calc(20px + 30 * (100vw - 480px) / 760); */
    font-size: 3rem;
    width:100%;
  }
  .menubar .nav{width:auto}
  .menubar div a.selected{
    border-bottom:0.2rem solid #4666ff;;
  }

  .container, #marryme{flex-direction:column}
  .info{width:100%;padding-top:18rem !important}
  .heading{margin-top:18rem;padding-left:4rem;margin-bottom:9rem}

  h2{font-size:3rem}
  .about h2{font-size:4rem;margin-bottom:2rem}

  .col1, .col2{width:100%}
  .col1{margin-right:0;margin-bottom:2rem}

  .single img{width:100%}

  .full{height:100%;overflow-x:hidden;padding:0}
  .full img{width:100%}

  .grid-item{grid-column: span 2}
  .span-2{grid-column: span 3}
  .bg-grid{
    grid-template-columns:1fr;
    padding:6rem;
    grid-gap:3rem;
  }
  .bg-single{padding:6rem}
  .fullheight{height:100%}
  .cutoff{padding-bottom:0}
  .halfwidth{width:100%}

  .mobile-frame{width:100%;padding:6rem 2rem;border-radius:30px}
  .mobile-grid{background:none;padding:0}

  .overview{flex-direction:column}
  .caption {margin:6rem 0;flex-direction:column}
  .add {padding-left:3rem}
  .add p{width:100% !important}

  .landing{padding:2rem 4rem 0 4rem;height:100%;flex-direction:column;justify-content: flex-start}
  .landing div img{width:100%}
  .about{justify-content: flex-start;}
  .about p{margin-bottom:2rem}

  .logo{width:100%}
  .logo img{max-width:none;height:2.5rem}
  #menu{top:3rem;right:4rem;}

  .video{overflow-x:hidden;margin:auto 4rem;width:calc(100% - 8rem)}
  iframe{width:100vw}

}
