*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  background: forestgreen;
}

h1, h2, h3, a, p{
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  color: inherit;
}

.pc{
  padding: 20px;
  /* overflow: hidden; */
}

@keyframes fadeIn{
  from{opacity:0}to{opacity:1}
}

.obj-wrap{
  width: 95%;
  display: flex;
  justify-content: center;
}

.object{
  position: absolute;
  width: 150px;
  height: 150px;
  margin-bottom: 60px;
  background: yellow;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: object 12s linear infinite;
}

.object > img{
  width: 300px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.obj-wrap:hover .object{
  animation-play-state: paused;
}

.object:hover img{
  opacity: 1;
}

@keyframes object{
  0% {top: 100%}
  100% {top: -50%}
}

.contact{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.jisoo-wrap{
  position: fixed;
  bottom: -10px;
  right: 40px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  animation: bringUp 4s ease forwards, cap 10s ease forwards;
}

.jisoo{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@keyframes bringUp{
  from {transform:translateY(100%)} to {transform:translateY(0)}
}

@keyframes cap {
  from{height: 500px}to{height: 110%;}
}

.eyes{
  position: absolute;
  bottom: 240px;
  right: 260px;
  text-align: center;
  display: flex;
  z-index: 5;
}

.eye{
  width: 45px;
  height: 70px;
  border: 2.5px solid black;
  border-radius: 50%;
  margin: 0.1vw;
  position: relative;
  overflow: hidden;
  background: white;
}

.eyeball{
  width: 70%;
  height: 70%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.eyes:hover .eyeball{
  width: 100%;
  height: 5%;
  border-radius: 0%;
}

.svg-wrap{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
}

.svg{
  position: absolute;
}

.cap-wrap{
  display: flex;
  align-items: flex-end;
  z-index: 3;
  animation-delay: 2s;
}

.intro{
  width: 900px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: baseline;
  animation: fadeIn 2s ease;
}

.dropbtn {
  background: transparent;
  color: black;
  font-size: 2rem;
  border: 2px solid black;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: yellow;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 400px;
  border: 2px solid;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: skyblue; color: yellow}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.mobile {
  /* position: fixed; */
  display:none;
  width: 100vw;
  padding: 20px;
  /* overflow: hidden; */
}

.row{
  display:flex;
  /* flex-flow: wrap; */
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom:0;
}

@media screen and (max-width: 1024px){
  .pc{display: none;}
  .mobile{display: block;}

  div, h1 {
    font-size: 1.5rem;
    /* margin-bottom: 0.4rem; */
  }
  .intro{
    width: 100%;
    line-height: 1.45;
  }
  .intro > h1{
  }
  .dropbtn{
    /* background:yellow; */
    color: pink;
    font-size: 1.5rem;
    /* margin-bottom: 0.4rem; */
  }
  .dropbtn:hover{
    color:black;
  }
  .jisoo-wrap{
    transform: scale(0.75);
    transform-origin: bottom right;
    right:0;
    overflow: visible;
  }
  .dropdown-content{
    min-width: 340px;
  }
  .dropdown-content a{
    font-size: 1.2rem;
  }
  @keyframes cap {
    0%{
    transform: translateY(118%)
    }
    100%{
    transform: translateY(-250%)
    }
  }
  @keyframes object{
    0% {top: 60%}
    50% {}
    100% {top: -60%}
  }
}
