*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: sans-serif;
  background: whitesmoke;
}

h1, h2, h3, a, p{
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  color: inherit;
}

h1{
  font-size: 1.5rem;
  padding: 20px;
  line-height: 1.2;
}

p{
  font-size: 1.2rem;
}

span{
  margin: 0;
  font-size: 1.2rem;
  font-family: serif;
  font-style: italic;
  padding: 40px;
}

.universe{
  display: flex;
}

.screen{
  width: 100vw;
  height: 100vh;
  /* background: whitesmoke; */
  display: flex;
  position: relative;
}

.fullscreen{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.top{
  align-items: flex-start;
}

.btm{
  align-items: flex-end;
}

.left{
  justify-content: flex-start;
}

.right{
  justify-content: flex-end;
}

.mid{
  justify-content: center;
}

.ctr{
  align-items: center;
}

.deadctr{
  justify-content: center;
  align-items: center;
}

.col{
  flex-direction: column;
}

.fixed{
  position: fixed;
  display: flex;
}

.divider{
  width: 50%;
  height: 100%;
  /* border: 1px solid blue; */
  display: flex;
  /* overflow: hidden; */
  /* margin-right: 40px; */
  /* margin: 40px; */
}

.divider > p{
  padding: 60px;
}

.divider > img{
  width: 100%;
  height: auto;
  /* height: 100%; */
}

.content{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.content > img{
  width: 100%;
}

.content > p{
  font-size: 1rem;
  padding: 20px;
  margin-bottom: 50px;
}

.category{
  position: fixed;
  align-items: flex-end;
  z-index: -1;
}

.start{
  border-top: 2px solid black;
}

.menu{
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  position: fixed;
  right: 0;
  overflow-y: scroll;
}

.menu > h1{
  padding: 0;
  margin-bottom: 20px;
}

.intro{
  position: fixed;
  display: flex;
  z-index: -1;
  padding-right: 40px;
}

.intro > h1{
  /* width: 80%; */
}

.img-wrap{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: whitesmoke; */
  /* border: 1px solid black; */
}

.white{
  background: white;
}

.smoke{
  background: whitesmoke;
}

.full{
  height: 100%;
}

.nomargin{
  margin: 0;
}

.img-wrap > img {
  width: 100%;
}

.img-wrap > p{
  position: absolute;
  /* left: 0; */
  bottom: 0;
  font-size: 1rem;
  width: 90%;
}

.spacer{
  width: 100%;
  height: 25%;
  display: flex;
  /* border: 1px solid black; */
}

.spacer > p{
  width: 100%;
  font-size: 1rem;
  padding: 40px;
  /* background: whitesmoke; */
}

.mobilespacer{
  display: none;
  height: 80px;
}

.heading{
  width: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.heading > h1{
  background: whitesmoke;
  border: 2px solid black;
  /* border-right: 0; */
  padding: 0 5px;
}

#video{
  width: 75%;
  height: 100%;
}

.mobile{
  display: none;
}

@media screen and (max-width: 1024px){
  /* .pc{
    display: none;
  }
  .mobile{
    display: block;
  } */
  .screen{
    flex-direction: column;
    /* height: 100%; */
  }
  .fullscreen{
    flex-direction: column;
    height: 100%;
  }
  .divider{
    width: 100%;
    padding: 20px;
  }
  .content{
    padding: 0 30px;
  }
  .menu{
    position: absolute;
    bottom: 0;
    left: 50%;
    /* margin-right: 40px; */
    /* justify-content: center; */
    /* align-items: flex-end; */
  }
  .category{
    padding: 0;
  }
  .spacer{
    justify-content: flex-end;
  }
  .spacer > p{
    padding-left: 20px;
    padding-right: 20px;
  }
  .mobilespacer{
    display: block;
  }
}
