*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: sans-serif;
  background: whitesmoke;
  overflow-x: hidden;
}

h1, h2, h3, a, p{
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  color: inherit;
}

h1{
  font-size: 1.4rem;
  /* color: blue; */
}

h2{
  font-size: 1.2rem;
}

p{
  font-size: 1.2rem;
}

img{
  border-radius: 1px;
}

.screen{
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

.nav{
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content:flex-start;
  align-items: baseline;
  z-index: 9999;
  padding: 10px;
  width: 50%;
}

.nav p{
  font-size: 1.8rem;
}

.dropbtn {
  width: 100%;
  background: whitesmoke;
  color: black;
  font-size: 1.8rem;
  border: 2px solid black;
  cursor: pointer;
  text-align: left;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  display: flex;
  align-items: flex-start;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: yellow;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  z-index: 9999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  background: whitesmoke;
  color: black;
  border: 2px solid black;
  padding: 5px 7px;
  font-size: 1.6rem;
  text-align: left;
  margin-top: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: skyblue;
  color: yellow;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo{
  border-radius: 50%;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  /* transition: 1s ease; */
  transform-origin: top left;
  z-index: 9999;
}

.eyes{
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.eye{
  width: 26px;
  height: 26px;
  border: 2.5px solid black;
  border-radius: 50%;
  margin: 1px;
  position: relative;
  overflow: hidden;
  background: white;
  transition: transform 30s ease;
}

.eyeball{
  width: 70%;
  height: 70%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.logo:hover{
  background: yellow;
}

.logo:hover .eyeball{
  border: 6px dotted cyan;
}

.content{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: bringIn 3s ease;
  /* align-items: flex-end; */
}

@keyframes bringIn{
  from {transform:translateY(100vh); overflow:hidden} to {transform:translateY(0)}
}

.section{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* margin-bottom: 40px; */
  /* border: 1px solid red; */
}

.fit{
  height: 100%;
}

.end{
  margin-bottom: 60px;
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  /* border: 1px solid red; */
}

.col img{
  width: 40vw;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

.caption{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* width: 40vw; */
  width: 100%;
  margin-top:20px;
}

.caption div{
  display: flex;
  flex-direction: column;
}

.caption h1{
  font-size: 1.2rem;
  margin: 1vh 0;
  text-align: left;
  background: white;
  /* color: blue; */
  color: dimgray;
  padding: 2px 5px;
}

.caption p{
  font-size: 0.75rem;
  /* margin: -10px 0; */
  text-align: left;
  background: white;
  /* color: blue; */
  color: dimgray;
  padding: 2px 5px;
}

.thumb{
  position: relative;
  /* box-shadow: 0px 0px 5px rgba(0,0,0,0.2); */
  transition: 0.5s ease;
  display: flex;
}

.thumb img{
  width: 40vw;
  height:auto;
}

.center{
  justify-content: center;
}

.fxend{
  justify-content: flex-end;
}

.fxstart{
  justify-content: flex-start;
}

#bigimg img{
  width: 60vw;
}

.badge{
  position: absolute;
  width: 10vw;
  height: 10vw;
  padding: 20px;
  border: 2px solid black;
  border-radius: 50%;
  background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(10deg);
  transition: transform 0.5s ease;
  z-index:999;
}

.badge h1 {
  font-size: 1.5vw;
}

.badge p{
  font-size: 0.75vw;
}

.badge:hover{
  transform: scale(1.05)
}

.cover{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 20px;
  z-index: 9;
}

.cover p{
  font-size: 1.3rem;
  padding: 2px 5px;
  background: blue;
  color: white;
}

.thumb:hover{
  transform: translate(-7px, -7px);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid blue;
}

.thumb:hover .cover{
  opacity: 1;
}

.contact{
  position: fixed;
  right: 20px;
  top: 10px;
  font-size: 1.4rem;
  display: flex;
  z-index: 9999;
}

.contact a{
  font-size: 3rem;
  transition: transform 2s ease;
}

.contact div{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 2px;
}

.contact div p{
  line-height: 0;
  font-size: 0.75rem;
  background: white;
  color: blue;
  display: none;
}

.contact a:hover{
  color: magenta;
  text-shadow: 0 0 20px cyan;
  transform:rotate(180deg);
}
.contact div:hover p{
  display: block;
}

.more{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.morebtn{
  background: whitesmoke;
  color: black;
  font-size: 1.5rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

.morebtn:hover{
  background: magenta;
  color: yellow;
}

.hide {display:none;}

.hidden {
  display:none;
  width: 100%;
}

.showhidden {display:block;}

.threerow{
  display: flex;
  justify-content: center;
}

.threerow img{
  width: 30%;
  padding: 10px;
}

.content-wrap{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  /* flex-flow: column; */
  /* align-items: center; */
  align-items: flex-start
}

.fit{
  height: 100%;
}

.img-wrap2{
  position:relative;
  width: 75%;
  height: 100%;
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
  /* border: 1px solid; */
}

.padded{
  padding: 20px;
}

.img-wrap2 img{
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.img-wrap2 p{
  margin-top: 20px;
}

.padding{
  width:25%;
  height: 100%;
  padding-left: 20px;
}

.img-wrap{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid; */
}

.img-wrap > img{
  width: 50%;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.img-wrap > p{
  width: 40%;
  font-size: 1rem;
  position: absolute;
  left: 50px;
  bottom: 25px;
  color: dimgray;
}

.shift{
  margin-top: 5%;
  margin-left:-5%;
}

iframe{
  width:70vw;
  height:100%;
}

#video{
  flex-direction:column;
}

#video .caption{
  width:70vw;
  margin-top:-80px;
}

.mobile{display:none;}

@media screen and (max-width: 1000px){
  .mobile{display:block}
  .pc{display:none}
  .badge, .padding, .pconly, .contact .pconly{display:none}
  .content{margin-top:120px;}
  .section{height:100%}
  /* .nav p, .logo div, .dropbtn{font-size:7vw}
  .dropdown-content a {font-size:6vw;}
  .eye{width:5.75vw;height:5.75vw;border:5px solid black}
  .dropbtn, .dropdown-content a {border:4px solid black}
  .nav{top:20px;left:20px} */

  .contact{
    position: relative;
    top: auto;
    right: auto;
    display: flex;
    justify-content: center;
  }
  .contact a{
    font-size: 15vw;
    color: dimgray;
    transition: transform 2s ease;
  }

  .contact div{
    margin: 40px 20px;
  }
  .contact div p{
    line-height: 0;
    font-size: 4vw;
    display: block;
  }
  .contact a:hover{
    color: magenta;
    text-shadow: 0 0 40px cyan;
    transform:rotate(0);
  }

  .img-wrap, .section, .content-wrap{flex-direction: column}
  .nav, .img-wrap2, .img-wrap2 img, .section img {width: 100%;}
  iframe{
    width: 100vw;
    padding:20px;
    margin-bottom:20px;
  }
  #video{height:50vh;padding:20px}
  #video .caption{width:100%;margin-top:-20px}
}
